@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,500&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.nav-container {
   display: flex;
   flex-wrap: wrap;
   background-color:rgba(170, 34, 0, 0.9);
   height: 65px;
   overflow: hidden;
  
}



 .nav-container > .logo > a {
    flex: 20%;
    display: block;
    width: 250px;
    height: 55px;
    padding: 15px;
    margin-left: 5%;
    font-size: 16px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    border-left: 1px solid whitesmoke;

    
}

.nav-container > .logo > a > .lead {
    font-size: 12px;
}

.nav-container > .nav-links > .nav-link  {
    flex: 80%;
    justify-content: flex-end;
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 55px;
    
    
    
}

.nav-links, .nav-link a {
    text-decoration: none;
    margin-left: auto;
    color:rgb(206, 233, 233);
    font-weight: 600;
    padding: 10px;
    display: block;
       
}

#bars {
    visibility: hidden;
}

a:hover {
    border: 1.5px solid white;
    transition: 1s linear ease-in-out;
    text-shadow: 5px 5px 15px thistle;
}
  

@media screen and (max-width: 768px){
    .nav-container {
        visibility: visible;
    }
}


#slides {
    display: flex;
    flex: 100%;
    height: 90vh;
    width: 100%;
    background-color: rgb(2, 83, 66);
    opacity: 0.4;
    border: 2px solid rgb(2, 83, 66);
    background-image: url('https://wallpapercave.com/wp/wp4131923.jpg');
}

.live {
    width: 500px;
    height: 300px;
    border-radius: 15%;
    background-color: violet;
    margin: auto auto auto auto;
    background-image: url('https://www.pngitem.com/pimgs/m/112-1120294_listen-live-audio-online-radio-hd-png-download.png');
    background-size: cover;
}

.audio {
    margin-top: 250px;
    width: 100%;
    opacity: 0.95;
    
    
}

#lead {
    color: white;
    font-weight: bolder;
    font-size: 40px;
    text-transform: capitalize;
    font-variant: initial;
    padding-left: 65px;
    border-radius: 25%;
    background-color: rgb(255, 1, 1);
    text-shadow: 5px 1px 1px rgb(0, 0, 0);
}

.live-section {
    width: 100%; 
    height: 850px; 
    background-color:rgba(170, 34, 0, 0.9);
     z-index: +1;
     
}

.about-section {
    width: 100%; 
    height: 900px; 
    background-color:rgba(170, 34, 0, 0.9);
     z-index: +1;
}

.contact-section {
    width: 100%; 
    height: 900px; 
    background-color:rgba(170, 34, 0, 0.9);
     z-index: +1;
}

.heading {
    text-decoration: underline;
    padding: 10px 0px;
}

.live-section > .heading, #mic, p {
    margin: 60px 120px;
    font-size: 24px;
    color: white;
    font-stretch: extra-expanded;
    text-align: center;
    padding-top: 100px;
    
}

.heading, #mic, p {
    margin: 60px 120px;
    font-size: 24px;
    color: white;
    font-stretch: extra-expanded;
    text-align: center;
    padding-top: 100px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
 